[submodule "vendor/github.com/eclipse/paho.mqtt.golang"]
	path = vendor/github.com/eclipse/paho.mqtt.golang
	url = http://github.com/eclipse/paho.mqtt.golang
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/soniah/gosnmp"]
	path = vendor/github.com/soniah/gosnmp
	url = http://github.com/soniah/gosnmp
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = http://gopkg.in/yaml.v2
